# Dev & build files
demo/
src/
*.log
*.ts
*.tsx
rollup.config.mjs
vite.config.*
tsconfig*
postcss.config.*
tailwind.config.js

# Source maps (not needed in npm package - saves ~350KB)
*.map
dist/*.map

# Ignore reports
bundle-stats.html

# Docs & config (if not needed)
.eslintrc*
.gitignore
.DS_Store

# Testing
__tests__/
coverage/
*.test.*
